/* css 選擇器 */
        /* 標籤名稱選擇器 */
        body {
            background-color: burlywood;
        }

        /* id  選擇器 */
        #del {
            text-decoration: line-through
        }

        /* css 選擇器 */
        .head {
            margin-bottom: 10px;
            font-weight: bold;
            font-size: 24px
        }

        .content {
            width: 500px;
            padding: 10px;
            border: 1px dashed blue
        }

        .keyword {
            color: crimson
        }

        .underline {
            text-decoration: underline;
        }